	html::-webkit-scrollbar{
		width: 15px;
		background-color: transparent;
		border-radius: 10px;
	}


	html::-webkit-scrollbar-track{
		width: 15px;
		height: 20px;
		background-color: #F1F0EC;
		border-radius: 10px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	html::-webkit-scrollbar-thumb{  
		background-image: linear-gradient(135deg,#F1F0EC,#BEFF4E,#80FF6E );
		border-radius: 10px;
	}